body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D5E1EF;
    border: 3px solid black;
}

img {
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

main {
    border: 3px solid red;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    row-gap: 10px;
    height: 499px;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    border: 3px solid blue;
}

#item1 {
    border: 3px solid orange;
}

#item2 {
    color: #1F314F;
    font-family: "Outfit", Bold;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 120%;
}

#item3 {
    color: #68778D;
    font-family: "Outfit", Regular;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
}